$trigger1: '(max-width:991px)';
$trigger2: '(max-width:767px)';

.hide {
  visibility: hidden;
  @media #{$trigger1} {
    visibility: visible;
  } // 모바일일때만 보이는 애들
}
.login_btnWrap{
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
  .login_btn {
    cursor: pointer;
    position: relative;
    top: 70px;
    span {
      margin-left: 5px;
      line-height: 1;
      padding-right: 10px;
      @media #{$trigger1} {
        display: none;
      } 
    }
    @media #{$trigger1} {
      font-size: 1.5rem;
    } 
  }
}

h1 {
  display: flex;
  justify-content: center;
  padding: 20px 0 40px;
  img{
    cursor: pointer;
  }
}

nav {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
  .menu-list {
    display: flex;
    li {
      padding: 0 10px;
    }
    @media #{$trigger1} {
      display: none;
    } 
  }
  .search {
    position: absolute;
    right: 30px;
    width: 10vw;
    white-space: nowrap;
    padding: 5px;
    border-bottom: 2px solid black;
    top: 150px;
    input {
      width: calc(100% - 30px);
      margin-left: 10px;
      font-size: 0.95rem;
      outline: none;
      border: none;
      vertical-align: top;
    }
    @media #{$trigger1} {
      width: 70vw;
      left: 50%;
      transform: translate(-50%);
    } 
  }
  @media #{$trigger1} {
    padding-bottom: 70px;
  } 
}



.side_menu {
  position: fixed;
  top: 0;
  width: 400px;
  height: 100%;
  background: #000000;
  z-index: 100;
  padding-top: 60px;
  color: #ffffff;
  transition: .5s ease-in;
  .closeBtnWrap{
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    .closeBtn {
      color: #ffffff;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }
  .side_menu_list {
    padding-top: 50px;
    li {
      padding: 15px 0;
      font-size: 1.2rem;
      cursor: pointer;
      transition: .4s;
      &:hover {
        color: var(--color-point);
      }
    }
  }
  @media #{$trigger2}{
    width: 90vw;
  }
}

.burger_menu {
  position: absolute;
  left: 30px;
  top: 65px;
  font-size: 1.5rem;
  cursor: pointer;
}