.detail-img {
  width: 100%; 
}

.detail-titleWrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .detail-title {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .like {
    font-size: 1.4rem;
    .heartFill{
      color: var(--color-point)
    }
  }
}

.detail-price{
  font-size: 1.3rem;
  margin: 50px 0 30px 0;
}

.new {
  margin-bottom: 10px;
  font-size: 0.8rem;
  color: var(--color-gray);
}

.detail-dropdown {
  margin-bottom: 20px;
  & > * {
    width: 100%;
  }
}

button{
  width: 100%;
}

.btn:hover {
  color: inherit;
  background-color: inherit;
  border-color: inherit;
}